/* Best practices from CSSID book: */
:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.clearfix::before, .clearfix::after {
  display: table;
  content: " ";
}

:root {
	--highlight-color: orange;
}

body {
	background-color: white;
}

.headbar .title {
	font-size: 1.6rem;
	font-weight: bold;
}
.headbar .jimmchen {
	color: gray;
	font-size: 0.7rem;
}
.jimmchen a {
	color: inherit;
}

.userinput {
	padding: 1rem 0.2rem;
}
.userinput input {
	margin: auto 0.5em;
}

.content {
	display: block;
}

.agcanvas {
	margin: 0.5em 0.8em;
	border: 1px dashed cyan; /* temp */
}
.result {
	margin: 0.5em 0.8em;
}

.table1 {
    font-size: 2rem;
/*	border: 1px solid;
*/	border-collapse: collapse;
}

.table1 td {
	width: 1.8em;
	height: 1.8em;
	border: 1px solid black;
	text-align: center;
	
	position: relative;
}

.table1 td.highlight {
	color: var(--highlight-color);
/*	font-weight: bold;
*/
}

.table1 td.hidden {
	background-color: white;
	border-top: 0px;
	border-left: 0px;
}

.lettercells {
	background-color: #aaa;
}

.initvalues {
	background-color: #ffd;
}


.arrow {
	display: block;
	position: absolute;
	width: 0.8em;
	height: 0.8em;
/*	border: 1px dashed;
*/
}

.arrowL {
	left: -0.3em;
	top: 0.5em;
}
.arrowD {
	left: -0.3em;
	top: -0.3em;
	transform: rotate(0.125turn) scale(1.15);
}
.arrowT {
	left: 0.5em;
	top: -0.3em;
	transform: rotate(0.25turn);
}

.arrow svg {
	/* todo: I don't know why I need this ajustment to cut-off some of the arrow <svg>'s margins. */
	transform: translateY(-0.22em);
}

.arrow.highlight svg path {
	fill: var(--highlight-color);
}

.rev_minsteps,
.rev_pathcount {
	font-weight: bold;
}

/************************ Desktop Web Layout Override  ************************/

@media (min-width: 799.1px) /* when window width > 799.1px */
{
	.content {
		display: flex;
	}

	.agcanvas {
		flex-grow: 0;
		flex-basis: auto;
		border: 1px dashed;
	}

	.result {
		flex-grow: 1;
		flex-basis: 18rem;
		border: 1px dashed;
	}
}