/* Best practices from CSSID book: */
:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.clearfix::before, .clearfix::after {
  display: table;
  content: " ";
}

:root {
	--agcanvas-fontsize-base: 2.0em;
	
	--agtable-td-size: 1.8em;
	--agtable-hilight2x2: calc(var(--agtable-td-size) * 2 + 2px);
	
	--highlight-color: orange;
	--flashing-dim-color: #f0f0f0;
	--stepcircle-color: rgb(156,156,204);
	
	--colorT: blue;
	--colorL: limegreen;
	--colorD: magenta; 
}

body {
	background-color: white;
}

.incenter {
	/* the below three is to make the text within perfectly centered */
	display: flex;
	justify-content: center; /* horizontal center */
	align-items: center;     /* vertical center */
}

.headbar .title {
	font-size: 1.35em;
	font-weight: bold;
}
.headbar .jimmchen {
	color: gray;
	font-size: 0.56em;
}
.jimmchen a {
	color: inherit;
}

.userinput {
	padding: 1em 0.2em;
}
.userinput input {
	margin: auto 0.5em;
	font-size: 1.08em;
}
.userinput #startbtn {
	padding: 0.1em 1.55em;
}

#copyurl {
	font-size: 1.08em;
	width: 1.68em;
	height: 1.68em;
	color: transparent;
	border-radius: 0.2em;
	overflow: hidden;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="link" class="svg-inline--fa fa-link fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="gray" d="M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 0 1-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0 1 20.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0 0 20.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 0 0-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z"></path></svg>');
}

#urltext {
	/* Makes an invisible but clipboard-copiable <input> textbox.
	https://stackoverflow.com/a/49053401/151453 
	*/
	opacity: 0;
	position: absolute;
	z-index: -9999;
	pointer-events: none;
}

[class^="msgbar"] {
	margin: 4px;
	font-size: 0.8em;
	border: 1px solid;
	border-radius: 0.24em;
	padding: 0.4em;
}
.msgbar_error {
	color: red;
	background-color: #fdd;
}
.msgbar_warn {
	color: brown;
	background-color: #ffd;
}
.msgbar_info {
	color: blue;
	background-color: #dff;
}

.content {
	display: flex;
	flex-wrap: wrap;
}

.leftpane {
	margin: 0.2em 0.4em;

	flex-grow: 0;
	flex-shrink: 0; /* so that table cells width/height keep proportional */
	flex-basis: auto;
/*	border: 1px dashed cyan;
*/
}

.agcanvas {
	position: relative; /* base-frame for highlight2x2 div */
    font-size: var(--agcanvas-fontsize-base);
}

.rightpane {
	
	/* Use flex-grow:1 so that text in .rightpane extends to right window edge,
	instead of wrapping at the diff graph width . */
	flex-grow: 1; 

	/* NOTE: A subtle problem here. Under premise of flexbox's `flex-wrap:wrap`, with width:222px here, 
	it roughly means: If browser window width is 800px, and if flexbox's left-pane exceeds 800-222=578px,
	the right-pane will be pushed down to next row. 
	
	But can we leave `width:auto` here? No. If so, a long enough text line will cause the right-pane to 
	be pushed to next row -- leaving a possibly very wide blank area on the first row, which is not what I desire.
	
	Then how do we determine the value 222px? In this very wed.html case, we have to determine it dynamically.
	We should check the width of the diff-chart("From: To: chart"), and use that width here. 
	Of course, this should be dynamically set by Javascript code. 
	*/
	width: 222px; /* set it as a casual initial here. */

	margin: 0.2em 0.4em;
	padding: 0.3em;
	border: 1px dashed;
}


.hilight2x2 {
	position: absolute; /* relative to the agtable */
	z-index: 2;
	top: 0em;
	left: 0em;
	visibility: hidden; /* will show when flashing a Step circle */
	
	width: var(--agtable-hilight2x2);
	height: var(--agtable-hilight2x2);
	border: 3px var(--highlight-color) solid;
/*	animation: box-flash 1s infinite;
*/
}
@keyframes box-flash {
    0% { border-color: var(--flashing-dim-color); }
    50% { border-color: var(--highlight-color); }
    100% { border-color: var(--flashing-dim-color); }
}


.agtable {
/*	border: 1px solid;
*/	border-collapse: collapse;
}

.agtable td {
	width: var(--agtable-td-size);
	height: var(--agtable-td-size);
	border: 1px solid black;
	text-align: center;
	
	position: relative;
	
	transition: color 500ms;
}

.agtable td.highlight {
	color: var(--highlight-color);
}
.agtable td.Stepbold {
	font-weight: bold;
}

.agtable td.corner {
	border-top: 0px;
	border-left: 0px;
	
	background-color: white;
	/* background-image: url('icons8-forward-arrow-96.png'); */
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAAAAmJLR0QA/4ePzL8AAAF+SURBVHja7Zk9TkJBFEZPIRS0oBQsgMZKQ3QfWlAaJbHRWFBA6Q5gE+yBLdAYW4lbkPiHiT8RC2NiZh4V90Ju8h364Zw3w7zHPBBCCCHEivQ5iKx/zYJHDiPrL+Im/OkHTfivHzChn+j/JgT6Oe/xUJgQaBaUoAQlKEEJkRPqtBkyZsqMj4Kvtvo4JFS5ZMK3o7TjA0aDAfO1qRvPQokrntcubzYLTW43JG8ScMxLZP0TPiPrn29Q3kD/iK8lQz8xokOLGiWDLWKfmYd+c8nav+OMiuG9xUm/XLjzvNE1uebu+tArGHbKrvGd3U2/wWs27A07UfRhULDyt+PoV7PrP4+zeAAusoG7kfRhki2frUj69ex5/9T4+jsfLbazu24Fa3qef1yGyeAjPOj5HeyOk4AOuCaYn0vfJwEtcExwOFZPjzhq+OHyku89CSgTjHSDC4cCFKAABShAAQpQgAIUoAAFKEABClCAAhSgAAUoQAEKUIACFCCEEEIIIRJ+AHE9or1indxcAAAAAElFTkSuQmCC');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 80% 80%;	
}

.agtable td[class*="dashedbox"]:before {
	content: " ";
	position: absolute;
	top: 0.2em;
	bottom: 0.2em;
	left: 0.2em;
	right: 0.2em;
	border: 1px dashed;
}
.agtable td.dashedboxT:before {
	border-color: var(--colorT);
}
.agtable td.dashedboxL:before {
	border-color: var(--colorL);
}
.agtable td.dashedboxD:before {
	border-color: var(--colorD);
}

.lettercells {
	background-color: #aaa;
}

.initvalues {
	background-color: #ffd;
}


.arrow {
	display: block;
	position: absolute;
	width: 0.8em;
	height: 0.8em;
/*	border: 1px dashed;
*/
}

.arrowL {
	left: -0.3em;
	top: 0.5em;
}
.arrowD {
	left: -0.3em;
	top: -0.3em;
	transform: rotate(0.125turn) scale(1.15);
}
.arrowd {
	left: -0.3em;
	top: -0.3em;
	transform: rotate(0.125turn) scale(0.8); /* pending: better to draw a hollow arrow, instead of a smaller one */
}
.arrowT {
	left: 0.5em;
	top: -0.3em;
	transform: rotate(0.25turn);
}

svg.arrow.highlight path {
	fill: var(--highlight-color);
}

.rev_minsteps,
.rev_pathcount {
	font-weight: bold;
}

.draw_diff {
	display: table;
	margin: 1em 1em;
	font-size: 1.24em;
}

.choosepath {
	/* Without this 1em, combobox(<select>) font size will be less than 1em, 
	bcz the combobox border and the text inside will add up to just 1em. */
	font-size: 1em;
	box-shadow: 0 0 3px 0px black;
}

.exprow {
	display: table-row;
}

.exprow > * {
	display: table-cell;
}
.exprow > *:first-child {
	vertical-align: top;
	font-size: 0.87em;
	color: gray;
	text-align: right;
	padding-right: 12px;
}

/* exp: explain */
.expflex {
	display: flex;

	--expcell-width: 2.26em;
}
.expflex .expcell {
/*	flex-basis: 3.52em;
*/	flex-grow: 0;
	flex-shrink: 0;
	
	width: var(--expcell-width);
	height: var(--expcell-width);
	
	border-radius: 0.32em;
}
.expflex .solidx {
	border: 1px solid black;
}
.expflex .solidy {
	border: 3px solid black;
	font-weight: bold;
}
.expflex .blankc {
	border: 1px dashed gray;
}

.fromgraph .expflex {
	/* make room for algoritm "Step" remark. */
	margin-bottom: calc(var(--expcell-width) * 2.56);
}

.step_gate {
	position: absolute;
	left: 0px;
	right: 0px;
	top: var(--expcell-width);
}

.step_gate .step_circle {
	border: 2px solid var(--stepcircle-color);
	border-radius: 50%;
	width: calc(var(--expcell-width) * 0.8);
	height: calc(var(--expcell-width) * 0.8);
	margin: 0.3em auto;
	font-size: 1.08em;
	font-weight: bold;
	color: var(--stepcircle-color);
	text-shadow: 0 0 4px lightgrey;
	box-shadow: 0 0 5px 0px grey;
	cursor: pointer;
}

.step_gate .down_arrow_div {
	margin: auto;
	width: 50%;
	transform: translateX(-0.12em) rotate(0.25turn);
}

.step_gate .opcode {
	margin: auto;
	width: 50%;
}
.step_gate .opcode_Del {
	content: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="minus" class="svg-inline--fa fa-minus fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="rgb(156,156,204)" d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>');
}
.step_gate .opcode_Ins {
	content: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" class="svg-inline--fa fa-plus fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="rgb(156,156,204)" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>');
}
.step_gate .opcode_Rplc {
	content: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sync-alt" class="svg-inline--fa fa-sync-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="rgb(156,156,204)" d="M370.72 133.28C339.458 104.008 298.888 87.962 255.848 88c-77.458.068-144.328 53.178-162.791 126.85-1.344 5.363-6.122 9.15-11.651 9.15H24.103c-7.498 0-13.194-6.807-11.807-14.176C33.933 94.924 134.813 8 256 8c66.448 0 126.791 26.136 171.315 68.685L463.03 40.97C478.149 25.851 504 36.559 504 57.941V192c0 13.255-10.745 24-24 24H345.941c-21.382 0-32.09-25.851-16.971-40.971l41.75-41.749zM32 296h134.059c21.382 0 32.09 25.851 16.971 40.971l-41.75 41.75c31.262 29.273 71.835 45.319 114.876 45.28 77.418-.07 144.315-53.144 162.787-126.849 1.344-5.363 6.122-9.15 11.651-9.15h57.304c7.498 0 13.194 6.807 11.807 14.176C478.067 417.076 377.187 504 256 504c-66.448 0-126.791-26.136-171.315-68.685L48.97 471.03C33.851 486.149 8 475.441 8 454.059V320c0-13.255 10.745-24 24-24z"></path></svg>');
	transform: translateY(0.11em);
}

.rightpane .click_hint {
	color: grey;
	font-size: 0.85em;
}

.Step_flashing {
	font-weight: bold;
	text-shadow: 0 0 3px black;
	animation: letter-flash 1s infinite;
}
@keyframes letter-flash {
    0% { color: var(--flashing-dim-color); }
    50% { color: var(--highlight-color); }
    100% { color: var(--flashing-dim-color); }
}

.agcanvas .agtable .hide0 {
	color: transparent;
}
.agcanvas .agtable .hide0 svg path {
	fill: transparent;
}

.Step_explain dl {
	line-height: 1.77;
}

.Step_explain .stepcount {
	color: var(--highlight-color);
	font-weight: bold;
}

.Step_explain [class*="srcword"],
.Step_explain [class*="dstword"] {
	font-family: Consolas, sans-serif;
	font-weight: bold;
}
.Step_explain ._srcword ,
.Step_explain ._dstword {
/*	font-weight: bold;
*/
}
.Step_explain .srcword_ ,
.Step_explain .dstword_ {
	text-decoration: underline;
}
.Step_explain ._srcword_ ,
.Step_explain ._dstword_ {
	color: grey;
}

.Step_explain .stepcountT ,
.Step_explain .stepcountTT {
	color: var(--colorT);
}

.Step_explain .stepcountL ,
.Step_explain .stepcountLL {
	color: var(--colorL);
}

.Step_explain .stepcountD ,
.Step_explain .stepcountDD {
	color: var(--colorD);
}

.Step_explain .stepcountT ,
.Step_explain .stepcountL ,
.Step_explain .stepcountD {
	border: 1px dashed;
    padding: 0em 0.2em;
}
.Step_explain .stepcountTT ,
.Step_explain .stepcountLL ,
.Step_explain .stepcountDD {
	border: 1px solid;
	font-weight: bold;
    padding: 0em 0.2em;
    background-color: #ffe8c0;
}

.Step_explain .EdgeL ,
.Step_explain .EdgeT ,
.Step_explain .Diag0 ,
.Step_explain .Diag1 {
	display: none;
}

.Step_explain .expshow {
	display: inherit;
}

.Step_explain div {
    margin: 0.5em 0.2em;
}


.footer {
	color: grey;
	font-size: 0.8em;
}
.footer a {
	font-weight: bold;
	color: var(--stepcircle-color);
}
.footer > div {
    border-left: 4px solid;
    margin: 0.2em 0em;
    padding-left: 0.3em;
}


@media (max-width: 480px) /* when window width is small, like on a 4 inch phone */
{
	body { 
		/* Make all things a bit smaller to show more on a small-size screen. */
		font-size: 0.8em;
	}

	.userinput input {
		width: 6em;
		margin: 0em 0.1em;
	}

	.userinput #startbtn {
		width: 4em;
		padding: 0em;
		margin: 0em;
	}
}

@media (max-width: 360px) /* when window width is small, like on a iPhone 5 */
{
	body { font-size: 0.72em; } /* even smaller text/images */
}

/* * IE WARNING * */
.iewarn {
	display: none;
	background-color: #ffffa0;
	color: #7e7020 !important;
	border: 2px solid;
	margin: 0.2em 0em;
	padding: 0.644em;
}
