/* This CSS is only for IE, not for Chrome and Firefox. */

.iewarn {
	background-color: #ffffa0;
	color: #7e7020 !important;
	border: 2px solid;
	padding: 0.644em;
}

.maincol a {
	text-decoration: none;
	font-weight: bold;
	color: #6767b4;
}
a:hover {
	color: #252590;
}

pre {
	border: 1px solid #bde;
	border-radius: 0.34em;
	padding: 0.5em;
	line-height: 1.37;
	white-space: pre-wrap;
}

tt {
	color: #252590;
}

.globalframe {
	/* inner frame of double container pattern. */
	margin: auto;
	max-width: var(--globalframe-max-width);

/*	border: 1px dashed cyan;
*/
	border-radius: 1em;
}

.imgbox-float-right {
	display: block;
	margin: 0.41em;
	text-align: center;
}

.imgbox-float-right__foottext {
	font-size: 0.8em;
	text-align: center;
	color: #666;
	background-image: linear-gradient(to bottom, #fff, #ccc);
}

.mainlang-cn [class^="lang-cn"] , 
.mainlang-en [class^="lang-en"] {
	color: black; 
} 
.mainlang-cn [class^="lang-en"] , 
.mainlang-en [class^="lang-cn"] {
	color: #999; /* For non-main language, I use a pale color for text. */
} 

.mainlang-cn .langsel #btn-cn ,
.mainlang-en .langsel #btn-en  {
	text-decoration: underline;
} 

.maincol {
/*	margin: 0.8rem 1rem;
	border: 1px solid #888;
*/
	padding-left:  var(--maincol-padding-leftright);
	padding-right: var(--maincol-padding-leftright);

	background-color: var(--maincol-bgcolor);
/*	border-radius: 1em;
*/
}

.maincol.titlebar {
	background-image: url('res/bg-pagehead.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.titlebar__head {
	text-align: center;
	font-size: 2em;
    letter-spacing: 0.5em;
    font-family: 楷体;
}

.titlebar__myname .chenjun {
    font-family: 楷体;
	font-size: 3em;
}

.titlebar__myname .career {
	font-size: 0.8em;
}

.sidecol {
/*	margin: 0.8rem 18px;
	// Enable margin to see fix_sidebar_position() can cope with margins.
*/	
	position: static;
	display: block; /* `block` in mobile layout, will change to "fixed" in desktop layout */
	
	border: 1px dashed;
	border-radius: 0.5em;
	
	background-color: #7890c0; /* night blue */
	overflow: hidden; /* Delete this prop may sometimes help diagnose layout problem. */
}

.langsel {
	display: table;
	width: 100%;
	height: 2.21em;
}
.langsel .langbtn {
	width: 50%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
	background-color: #57b;
	background-image: linear-gradient(to bottom, #57b, #012);
}
.langbtn__left {
	border: 1px solid;
	border-radius: 0.5em 0 0 0.5em
}
.langbtn__right {
	border: 1px solid;
	border-radius: 0 0.5em 0.5em 0 
}

.portrait {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.811em;
	margin-bottom: 0.811em;
	width: 160px;
	height: 160px;
	border-radius: 80px;
	box-shadow: 0em 0.11em 0.811em white;
	background-image: url('res/me2019.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}

.profile_list {
	display: table;
	margin: auto; /* horizontal centered */
}

.profile__item {
	display: table-row;
}

.item__name {
	display: table-cell;
	font-weight: bold;
	border-bottom: 1px dashed;
}
.item__value {
	display: table-cell;
	border-bottom: 1px dashed;
}

.tocframe {
	display: none;
}


.h1title {
	display: inline-block;
/*	padding-bottom: 0.2em;
	margin-bottom: 0.3em;
*/
}

.h1title .stripe {
	width: 100%;
	height: 0.5rem;
	background-image: repeating-linear-gradient(45deg, #57b 0px, #249 20px, #57b 40px);
}

.masscontent .duallang {
	padding: 0.3em;
}

.masscontent .itembrief {
	font-weight: bold;
}

.h2title {
	display: inline-block;
}
.h2title .stripe {
	width: 100%;
	height: 0.4rem;
	background-image: repeating-linear-gradient(45deg, #cb5 0px, #a83 20px, #cb5 40px);
}

.ques{
	font-weight: bold;
}

.ans ul {
	padding-left: 1.12em;
}

quote {
	display: block;
	padding-left: 1.78em;
	padding-top: 0.28em;
	padding-bottom: 0.28em;
}

.careerbanner {
	display: table-row;
	margin-top: 1em;
	margin-bottom: 1em;
}

.careerb__orgname {
	display: table-cell;
	width: 60%;
	text-align: left;
}
.careerb__jobtitle {
	display: table-cell;
	width: 25%;
}
.careerb__date {
	display: table-cell;
}

.companyinfo,
.h1intro {
	border: 1px solid grey;
	border-radius: 0.5em;
	margin: 1em;
	padding: 1em;
}

.careertable {
	display: table;
}

.careertable .duallang {
	padding: 0.32em;
}

.careertable__row {
	display: table-row;
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
}

.careertable__row > * {
	display: table-cell;
	border-bottom: 1px solid;
}


.careertable__date , .careertable__year {
	border-left: 0px;
	padding-left: 0em;
}

.careertable__date {
	font-size: 0.8rem;
	kk-width: 10%;
	width: 9.88em;
	word-break: break-word;
}
.careertable__year {
	font-size: 0.8rem;
	kk-width: 10%;
	width: 8.22em;
	word-break: break-word;
}
.careertable__achievement {
	font-size: 0.9rem;
	width: 80%;
	margin-left: 2px;
	margin-right: 2px;
}
.careertable__skill {
	width: 10%;
	font-size: 0.7rem;
	width: 7.88em;
}

/*.careertable__headrow {
	display: table-row;
}
*/
.careertable__headrow .headtext {
	font-weight: bold;
	font-size: 1rem;
	text-align: center;
}

.careertable__headrow > * {
	/* headrow cell background color */
	background-color: lightskyblue;
}

.careertable__skill ul {
	padding-left: 0px;
}
.careertable__skill li {
	list-style-type: none;
	
	display: inline-block;
	padding: 0.2em;
	line-height: 1.2;
	border: 1px grey solid;
	border-radius: 0.5em;
	margin: 0.2em;
}

.imagerow {
	display: table-row;
}
.imagerow > * {
	display: table-cell;
}
.imagerow img {
	width: 300px;
}

.imagerow--textandimage > div {
	border: 1px solid;
}

.table_s { /* _s implies: with a smaller font */
	margin-left: 1em;
	display: table;
	font-size: 0.9em;
	border-spacing: 0.244em;

}
.table_s .table__row {
	display: table-row;
}
.table_s .table__cell {
	display: block;  /* would be table-cell for desktop */
	padding: 0.5em;
}
.table_s .itemname {
	background-color: #80c0dd;
	min-width: 6.13em;
}
.table_s .itemvalue {
	background-color: #d0d7e4;
}

.table_s .itembrief {
	background-color: #dabbe8;
	min-width: 7.13em;
	font-size: 1.0em;
	font-weight: bold;
}
.table_s .itemdetail {
	background-color: #dad0e8;
}

.linksummary_maincol {
	display: none;
}

.footer {
	background-color: #3b1d07; /* chocolate color */
	color: gray;
	padding: 1em;
	font-size: 0.8rem;
	
}

.cellphone8:before {
	content: "1 3 7";
	letter-spacing: -0.11em;
}
.qq_com:after { content: "@qq.com"; }
.gmail_com:after { content: "@gmail.com"; }

