/* Best practices from CSSID book: */
:root {
    box-sizing: border-box;
}

*, 
::before, 
::after {
    box-sizing: inherit;
}

.clearfix::before, .clearfix::after {
	/* Suppress margin-top/bottom merging  */
	display: table;
	content: " ";
}
.clearfix::after {
	clear: both;
}

* { 
	margin-top: 0px;
}

/* CSS variables  */

:root {
	--globalframe-max-width: 1600px;
	--sidecol-fontsize: 0.85em;
	--sidecol-width: 16rem;
	--sidecol-width_w2: 20rem;
	
	
	--maincol-bgcolor: #f0f0f0;
	--maincol-padding-leftright: 0.33em;
	--maincol-padding-lr-desktop: 1.03em;
	
	/* The three below use `em`(not `rem`) bcz this reflects the character-count of containter's font-size, not the root's. */
	--date-period-ems: 9.88em;   /* enough width for "2002.07 ~ 2018.06" */ 
	--year-period-ems: 8.22em;  /* enough width for "2002 ~ 2018 */ 
	--skill-list-ems: 7.88em;
	
	--langsel-height: 2.21rem;
	--langsel-fontsize: 1.02rem;
	
	--toctitle-height: 2.05rem; /* the small title grib at right-bottom corner */
	
	--portrait-height: 160px;
	--portrait-marginv: 0.811em;
	
	--floatbar-corner: 20px;
	--floatbar-width: 3.66rem;
	
	--transition-duration: 1500ms; /* Please use ms bcz resume.js will use this value. */
}

/*****************************************************************/

body { 
	/* outter frame of double container pattern. */
	margin: 0px;
	font-family: "Roboto", "Segoe UI", "Arial";
}

.maincol a {
	text-decoration: none;
	font-weight: bold;
	color: #6767b4;
}
a:hover {
	color: #252590;
}

.linkedin a {
	text-decoration: none;
	font-weight: bold;
	color: #181877;   /* very dark blue */
}

.maincol a.external:before {
	display: inline-block;
	content: " ";
	width: 0.982em;
	height: 0.82em;
	background-position-x: center;
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="external-link-alt" class="svg-inline--fa fa-external-link-alt fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="gray" d="M576 24v127.984c0 21.461-25.96 31.98-40.971 16.971l-35.707-35.709-243.523 243.523c-9.373 9.373-24.568 9.373-33.941 0l-22.627-22.627c-9.373-9.373-9.373-24.569 0-33.941L442.756 76.676l-35.703-35.705C391.982 25.9 402.656 0 424.024 0H552c13.255 0 24 10.745 24 24zM407.029 270.794l-16 16A23.999 23.999 0 0 0 384 303.765V448H64V128h264a24.003 24.003 0 0 0 16.97-7.029l16-16C376.089 89.851 365.381 64 344 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V287.764c0-21.382-25.852-32.09-40.971-16.97z"></path></svg>');	
}

.maincol a.refback:target {
	animation: yellow-flash 2.2s;
}
@keyframes yellow-flash {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: yellow;
    }
    100% {
        background-color: transparent;
    }
}

pre {
	border: 1px solid #bde;
	border-radius: 0.34em;
	padding: 0.5em;
	line-height: 1.37;
	white-space: pre-wrap;
}

tt {
	color: #252590;
}

#css_layout_now {
	display: none;
	line-height: 1px;
}

.paper_print_only {
	display: none; /* Will be visible in @media print. */
}

.globalframe {
	/* inner frame of double container pattern. */
	margin: auto;
	max-width: var(--globalframe-max-width);

/*	border: 1px dashed cyan;
*/
	border-radius: 1em;
}

.imgbox-float-right {
	display: block;
	margin: 0.41em;
	text-align: center;
}

.imgbox-float-right__foottext {
	font-size: 0.8em;
	text-align: center;
	color: #666;
	background-image: linear-gradient(to bottom, #fff, #ccc);
}

.mainlang-cn [class^="lang-cn"] , 
.mainlang-en [class^="lang-en"] {
	color: black; 
} 
.mainlang-cn [class^="lang-en"] , 
.mainlang-en [class^="lang-cn"] {
	color: #999; /* For non-main language, I use a pale color for text. */
} 

.mainlang-cn .langsel #btn-cn ,
.mainlang-en .langsel #btn-en  {
	text-decoration: underline;
} 

.maincol {
/*	margin: 0.8rem 1rem;
*/
	border: 1px solid #888;
	padding-left:  var(--maincol-padding-leftright);
	padding-right: var(--maincol-padding-leftright);

	background-color: var(--maincol-bgcolor);
/*	border-radius: 1em;
*/
}

.maincol.titlebar {
	background-image: url('res/bg-pagehead.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.titlebar__head {
	padding-top: 5px;
	text-align: center;
	font-size: 2em;
	letter-spacing: 0.5em;
	font-family: 楷体;
}

.titlebar__myname .chenjun {
    font-family: 楷体;
	font-size: 3em;
}

.titlebar__myname .career {
	font-size: 0.8em;
}


/* Mobile first side-column styles */
.sidecol {
/*	margin: 0.8rem 18px;
	// Enable margin to see fix_sidebar_position() can cope with margins.
*/	
	position: static;
	display: block; /* `block` in mobile layout, will change to "fixed" in desktop layout */
	
	border: 1px dashed;
	border-radius: 0.5em;
	font-size: var(--sidecol-fontsize);
	
	background-color: #7890c0; /* night blue */
	overflow: hidden; /* Delete this prop may sometimes help diagnose layout problem. */
}

.langsel {
	display: flex;
	height: var(--langsel-height);
}
.langsel > button > * {
	vertical-align: bottom;
}
.langbtn {
	flex: 1;
	text-align: center;
}
.langbtn__left {
	border: 1px solid;
	border-radius: 0.5em 0 0 0.5em
}
.langbtn__right {
	border: 1px solid;
	border-radius: 0 0.5em 0.5em 0 
}

.langsel button {
	font-size: var(--langsel-fontsize);
	padding: 0.5em;
	color: #ccc;
	border: 1px solid #57b;
	background-image: linear-gradient(to bottom, #222, #888);
	cursor: pointer;
}
.langsel button::before {
	content: " ";
	display: inline-block;
	width: var(--langsel-fontsize);
	height: var(--langsel-fontsize);
	background-repeat: no-repeat;
	background-image: url('res/square-uncheck.svg');
	
/*	background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-icon="square-uncheck" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#f4f4f4" d="M 400,32 48,32 C 21.49,32 0,53.49 0,80 l 0,352 c 0,26.51 21.49,48 48,48 l 352,0 c 26.51,0 48,-21.49 48,-48 L 448,80 C 448,53.49 426.51,32 400,32 z m 0,400 -352,0 0,-352 352,0 z"></path></svg>');
	// Strange! Why this embedding svg fail to show?
*/	
}

.langsel .button_on {
	font-size: var(--langsel-fontsize);
	color: white;
	border: 1px solid #57b;
	background-image: linear-gradient(to bottom, #57b, #012);
	box-shadow: 0.1em 0.1em 0.5em #124;
	
}
.langsel .button_on::before {
	content: " ";
	display: inline-block;
	width: var(--langsel-fontsize);
	height: var(--langsel-fontsize);
	background-repeat: no-repeat;
	background-image: url('res/square-check.svg');
}


.portrait {
	margin-left: auto;
	margin-right: auto;
	margin-top: var(--portrait-marginv);
	margin-bottom: var(--portrait-marginv);
/*	max-width: 120px;
*/	width: var(--portrait-height);
	height: var(--portrait-height);
	border-radius: calc(var(--portrait-height)/2);
	box-shadow: 0em 0.11em 0.811em white;
	background-image: url('res/me2019.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}

.profile_list {
	display: table;
	border-spacing: 2px 2px;
	margin: auto; /* horizontal centered */
}

.profile_list [class^="lang-"] {
/*	transition: height 1500ms, color 1500ms;
	// Can enable it if you like.
*/
}

.profile__item {
	display: table-row;
}

.profile__item:hover {
	background-image: linear-gradient(to bottom, #c6d6e6, #56789a);
}

.profile__item > .item__name {
	display: table-cell;
	min-width: 6em;
	font-weight: bold;
	font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
}

.profile__item > .item__value {
	display: table-cell;
	font-weight: normal;
	font-family: Roboto, "Arial", sans-serif;
}

.profile__item ul.skills {
	padding-left: 0px;
	margin-bottom: 0px;
}
.profile__item .skills li {
    list-style-type: none;
    display: inline-block;
    background-color: #d8d8c8;
    color: black;
    padding: 0.1em 0.2em;
    line-height: 1.2;
    border: 1px grey solid;
    border-radius: 0.5em;
}

.cellphone8:before {
	content: "1 3 7";
	letter-spacing: -0.11em;
}
.qq_com:after { content: "@qq.com"; }
.gmail_com:after { content: "@gmail.com"; }

.tocframe {
	display: none;
	position: fixed;
	z-index: 5;
	right: var(--floatbar-corner);
	bottom: var(--floatbar-corner);
	/* Note: max-width and max-height will be set by jscode */
//	border: 1px solid;
	border-radius: 0.5em;
	box-shadow: 0.1em 0.1em 0.5em black;

	color: white;
	background-color: #21385d;
}

.tocframe.mobile_popup {
	display: block;
}

body .tocframe [class^="lang-"] {
	/* Use body prefix so to override the selector of `.duallang.bounding:hover`  */
	color: #e2e2e2;
}
body .tocframe .focus [class^="lang-"] {
	color: yellow;
	font-weight: bold;
}
body .tocframe .toctext .toc_pct {
	visibility: hidden;
}
body .tocframe .toctext .focus .toc_pct {
	visibility: visible;
	color: #999;
}

.tocframe .toctitle {
	font-size: 1.00rem;
	
	height: var(--toctitle-height);
	cursor: pointer;

	text-align: center;
	text-shadow: cyan 1px 1px 3px;

	position: relative;
	left: 0em;
	right: 0em;
	display: flex;
	justify-content: center; /* horizontal center */
	align-items: center;     /* vertical center */
}

.toctitle_arrow {
	position: absolute;
	top: 2px;
	bottom: 2px;
	right: 2px;
	width: var(--toctitle-height);
	margin: 2px;
	background-position: right;
	background-repeat: no-repeat;
}

.tocframe .toctext {
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-left: 0.415em;
	margin-right: 0.415em;
	overflow: auto;
}

.tocframe a {
	text-decoration: none;
}

.toctext .toc_depth0 {
	padding-top: 2px;
	padding-bottom: 2px;
}

.toctext .toc_depth1 {
	padding-left: 4px;
	padding-top: 2px;
}

.toctext .toc_depth2 {
	padding-left: 8px;
	padding-top: 0px;
}

.toctext .toc_seqs {
	color: #999;
}

.svg_arrowup {
	background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-circle-up" class="svg-inline--fa fa-chevron-circle-up fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M8 256C8 119 119 8 256 8s248 111 248 248-111 248-248 248S8 393 8 256zm231-113.9L103.5 277.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L256 226.9l101.6 101.6c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L273 142.1c-9.4-9.4-24.6-9.4-34 0z"></path></svg>');
}
.svg_arrowdown {
	background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-circle-down" class="svg-inline--fa fa-chevron-circle-down fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path stroke="blue" fill="white" d="M504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zM273 369.9l135.5-135.5c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L256 285.1 154.4 183.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L239 369.9c9.4 9.4 24.6 9.4 34 0z"></path></svg>');
}


h1:target, h2:target, h3:target {
/*	background-color: yellow;
*/
	animation: yellow-fading 1.2s linear;
}
@keyframes yellow-fading {
    0% {
        background-color: yellow;
    }
    
    100% {
        background-color: transparent;
    }
}

.h1title {
	display: inline-block;
/*	padding-bottom: 0.2em;
	margin-bottom: 0.3em;
*/
}

.h1title .stripe {
	width: 100%;
	height: 0.5rem;
	background-image: repeating-linear-gradient(45deg, #57b 0px, #249 20px, #57b 40px);
}

.h1title [class^="lang-"] {
/*
	background-color: var(--maincol-bgcolor);
	border-bottom: 5px solid;
*/
}

.h2title {
	display: inline-block;
}
.h2title .stripe {
	width: 100%;
	height: 0.4rem;
	background-image: repeating-linear-gradient(45deg, #cb5 0px, #a83 20px, #cb5 40px);
}

.ques{
	font-weight: bold;
}

.ans ul {
	padding-left: 1.12em;
}

quote {
	display: block;
	padding-left: 1.78em;
	padding-top: 0.28em;
	padding-bottom: 0.28em;
}

[class^="lang-"] {
	/* Without this, we'll see ugly text overflow and overlapping when doing cn/en transitioning. */ 
	overflow: hidden;
}
/* -- But Safari is a little buggy, we have to make overflow visible to display bullets in front of <li>. 
  And, we should turn off overflow(using js code) temporarily when doing animation.
*/
.usesafari  [class^="lang-"] {
	overflow: visible;
}
.usesafari.now_animation  [class^="lang-"] {
	overflow: hidden;
}

.maincontent [class^="lang-"] {
	transition: height var(--transition-duration), color 1500ms;
}

.maincol > * {
	margin-left: 0.4rem;
	margin-right: 0.4rem;
}

.maincol > .h1title {
	margin: 0.6rem;
}

.careerbanner {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
}

.careerb__orgname {
	text-align: left;
}
.careerb__jobtitle {
}
.careerb__date {
}

.companyinfo,
.h1intro {
	border: 1px solid grey;
	border-radius: 0.5em;
	padding: 0.924em;
	margin-top: 0.524em;
	margin-bottom: 0.524em;
}

.careertable {
	/* As container of careertable__rows. */
}

.careertable__row {
	display: block;
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
}

.careertable__row > * {
	border-bottom: 1px solid;
}

/* mobile layout scattered table heading, shared properties: */
.careertable__date::before ,
.careertable__year::before ,
.careertable__achievement::before ,
.careertable__skill::before {
	display: block;
	font-weight: bold;
}
.careertable__date::before ,
.careertable__year::before {
	margin-top: 1.89em;
}

.careertable__date , .careertable__year {
	border-left: 5px solid black;
	padding-left: 0.5em;
}

.table_s { /* _s implies: with a smaller font */
	margin-left: 1em;
	display: table;
	font-size: 0.9em;
	border-spacing: 0.244em;

}
.table_s .table__row {
	display: table-row;
}
.table_s .table__cell {
	display: block;  /* would be table-cell for desktop */
	padding: 0.5em;
}
.table_s .itemname {
	background-color: #c9e0eb;
	min-width: 6.13em;
	border-left: 5px solid black;
}
.table_s .itemvalue {
	background-color: #dfe7ed;
}

.table_s .itembrief {
	background-color: #e4d0eb;
	min-width: 7.13em;
	font-size: 1.0em;
	font-weight: bold;
}
.table_s .itemdetail {
	background-color: #e8e0ed;
}

.itembrief {
	display: block;
	padding: 0.372em 0em;
	color: brown;  /* will be overridden by duallang color switch */
	font-size: 1.2em;
	font-weight: bold;
	
	border-left: 5px solid #668;
	padding-left: 0.233em;
}
.itemdetail {
/*	margin-left: 2em;
*/
	padding: 0.372em 0em;
}

.masscontent ol ,
.masscontent ul {
	padding-left: 1.37em;
}

.masscontent li {
    margin: 0.46em;
}

.mainlang-cn .careertable__date::before {
	content: "时间线";
}
.mainlang-en .careertable__date::before {
	content: "Timeline";
}


.mainlang-cn .careertable__achievement::before {
	content: "成就";
}
.mainlang-en .careertable__achievement::before {
	content: "Achievement";
}

.mainlang-cn .careertable__skill::before {
	content: "技能与知识";
}
.mainlang-en .careertable__skill::before {
	content: "Skill and Knowledge"
}

.careertable__skill {
	font-size: 0.81rem;
}

.careertable__skill ul {
	padding-left: 0px;
}
.careertable__skill li {
	list-style-type: none;
	
	display: inline-block;
	padding: 0.2em;
	line-height: 1.2;
	border: 1px grey solid;
	border-radius: 0.5em;
	margin: 0.2em;
}

.careertable__headrow {
	display: none;
}

.duallang {
}
.duallang + .duallang { /* margin-top from second .duallang */
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

.duallang > *:first-child {
/*	xxx-margin-bottom: 0.2em;
*/
}
.duallang.bounding {
	border: 1px solid transparent;
	/* Use a *transparent* border as placeholder, otherwise, when 1px border is added by :hover,
	the layout inside will go for a subtle re-flow, not visually friendly. 
	[2019-06-17 23:20] This border width does not cause transitionend flicker.
	*/
}

.duallang.bounding:hover {
	border: 1px dashed gray;
}
.duallang.bounding.hilight {
	border: 1px dashed #32cd32; /* limegreen */
}

.duallang.bounding:hover .lang-cn2 {
	background-color: rgb(240, 240, 224);
}
.duallang.bounding:hover .lang-en2 {
	background-color: rgb(234, 248, 255);
}

.imagerow {
	display: flex;
	align-items: stretch; /* so to make left-block & right-block same height */
	width: 100%;
	text-align: center;
}
.imagerow > * {
	flex: 1;
	padding: 0.1em;
	max-width: 100%;
/*	height: 100%; 
	[2019-06-21] Without this, Chrome 74 will use image's orignal height, but Firefox 67 does not have such problem. 
	// That was the old comment when <img> directly acts as flex cell, and the behavior was odd.
*/
}

/*.imagerow--textandimage {
	align-items: stretch; 
}
*/
.imagerow--textandimage > *{
	border: 1px solid grey;
	margin: 1px;
}
.imagerow > * img {
	object-fit: contain;
	max-width: 100%;
}

.imagerow .left_align_text {
	text-align: left;
}

.floatbartray {
	display: none;
	position: fixed;
	z-index: 3;
	right: var(--floatbar-corner);
	bottom: var(--floatbar-corner);
}

.floatbarframe {
	width: var(--floatbar-width);
	height: var(--floatbar-width);
	cursor: pointer;
	
	background-color: #21385d;
	border-radius: calc(var(--floatbar-width)/2);
	box-shadow: 0em 0em 0.5em #124;

	display: flex;
	justify-content: center; /* horizontal center */
	align-items: center;     /* vertical center */
	
}
.floatbaricon {
	flex: 1;
	width:  calc(var(--floatbar-width)/1.66);
	height: calc(var(--floatbar-width)/1.66);
	margin-left: calc(var(--floatbar-width)/5.66);
	
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="list-ul" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M48 48a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm0 160a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm0 160a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm448 16H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-320H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16zm0 160H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z"></path></svg>');
}

/************************ Desktop Web Layout Override  ************************/

                   /*** REMEMBER TO change the two 799.1px below SIMULTANEOUSLY. ***/

@media (max-width: 799.1px) 
{
	.tocframe {
		/* For mobile layout, I use !important to override js-code's calculated ele.style.height. */
		padding: 1.02em;
		height: auto !important;
	}
}

.linksummary table {
	font-size: 0.8em;
	border-spacing: 0.3rem 0.2rem;
}
.linksummary td {
    vertical-align: top;
    background-color: rgb(232, 219, 208);
}
.linksummary td:last-child {
	background-color: rgb(226, 224, 220)
}

@media (min-width: 799.1px) 
{
	/* Desktop layout side-column styles. Whole side-column is fixed at viewport right-side. */

	#css_layout_now {
		display: none;
		line-height: 2px;
	}
	
	.globalframe {
		position: relative; /* as base frame */
	}

	.imgbox-float-right {
		float: right;
		margin: 0.41em;
	}
	
	@media (min-width: 1280px)
	{
		:root {
			--sidecol-width: var(--sidecol-width_w2);
		}
	}
	
	.maincol {
		margin-right: var(--sidecol-width);

		padding-left:  var(--maincol-padding-lr-desktop);
		padding-right: var(--maincol-padding-lr-desktop);
	}

	.sidecol {
		position: absolute;
		top: 0em;
		bottom: 0em;
		right: 0em;
		
		width: var(--sidecol-width);
	}

/*	.portrait {
		float: none;
		margin: auto;
		
	}
*/

	.profile_scrollbox {
		position: absolute;
		top: calc( var(--langsel-height) + var(--portrait-height) + var(--portrait-marginv)*2 );
		bottom: var(--toctitle-height);
		left: 0px;
		right: 0px;
		margin-left: 3px;
		margin-right: 3px;
		
		overflow: auto;
	}

	.tocframe {
		display: block;
		position: absolute;
/*		top: calc(var(--langsel-height) + 510px);
*/		left: 0em;
		right: 0em;
		bottom: 0em;
		border-radius: 0.5em;
/*		padding-top: 0em; 
*/		
		box-shadow: initial;
		transition: height 900ms;
	}
	
	.tocframe .toctitle {
		font-size: 1.00rem;
	}
	
	.tocframe .toctext {
		position: absolute;
		top: var(--toctitle-height);
		bottom: 0px;
		left: 0px;
		right: 0px;
		margin-left: 0.415em;
		margin-right: 0.415em;
		overflow: auto;
	}


	.careerbanner {
	/*	width: 100%;
		// would cause right-side stick out.
	*/	
		display: flex;
	}

	/* careerb means carrerbanner */
	.careerb__orgname {
		margin-right: auto;
		text-align: left;
		padding-right: 0.46em;
	}
	.careerb__jobtitle {
		margin-left: auto;
		text-align: right;
		padding-left: 0.46em;
	}
	.careerb__date {
		flex: var(--date-period-ems) 0;
		text-align: right;
		padding-left: 0.46em;
	}

	.careertable {
		/* As container of careertable__rows. */
/*		padding-left: 1em; 
		// to make an indent effect (no sense, to delete)
*/	
	}

	.careertable__row {
		display: flex;
		margin-top: 0.8rem;
		margin-bottom: 0.8rem;
	}

	.careertable__date , .careertable__year {
		border-left: 0px;
		padding-left: 0em;
	}

	.careertable__date::before ,
	.careertable__year::before ,
	.careertable__achievement::before ,
	.careertable__skill::before {
		display: none;
	}

	.careertable__date {
		font-size: 0.7rem;
		flex: var(--date-period-ems) 0;
		word-break: break-word;
	}
	.careertable__year {
		font-size: 0.7rem;
		flex: var(--year-period-ems) 0;
		word-break: break-word;
	}
	.careertable__achievement {
		font-size: 0.9rem;
		flex: 1;
		margin-left: 2px;
		margin-right: 2px;
	}
	.careertable__skill {
		font-size: 0.7rem;
		flex: var(--skill-list-ems) 0 1;
		/*flex: 20% 0 1;*/
	}

	.careertable__headrow {
		display: flex;
	}
	
	.careertable__headrow .headtext {
		font-weight: bold;
		font-size: 1rem;
		text-align: center;
	}

	.careertable__headrow > * {
		/* headrow cell background color */
		background-color: lightskyblue;
	}

	.duallang {
/*		padding: 0.31em;
*/	}
	.duallang > *:first-child {
/*		margin-bottom: 3.2em;
*/	}
	.duallang [class^=lang-] {
	/* NOTE: duallang padding/border/margin will cause cn/en transitionend FLICKER! Don't use it! */
/*		padding: 3.32em;
*/	}

	.ans { 
		margin-left: 2.12em;
	}

	.ans ul {
		padding-left: 1.42em;
	}

	.table_s .table__cell {
		display: table-cell;
		padding: 0.5em;
	}

	.table_s .itembrief {
		border-left: 0px;
	}
	.table_s .itemname {
		border-left: 0px;
	}

	.floatbartray {
		display: none !important;
	}

}

.linksummary_maincol {
	padding-bottom: 1em;
}

.footer {
	background-color: #3b1d07; /* chocolate color */
	color: gray;
	padding: 1em;
	font-size: 0.8rem;
	
}

.footer > div {
	padding: 0.352em;
}

/******************************* @media print *******************************/

@media print 
{
	.paper_print_only {
		display: block;
		margin-top: 1px;
		margin-bottom: 1px;
		border: 1px solid #6767b4 !important;
		padding: 0.5em;
		color: #6767b4;
		border-color: black;
		text-align: center;
	}
	.paper_print_only a {
		color: inherit !important;
	}

	.maincol {
		margin-left: 0px;
		margin-right: 0px;
		background-color: white;
		border: 0px;
	}

	.floatbartray {
		display: none !important;
	}

	.sidecol {
		position: static !important;
		background-color: #fffff8 !important;
		padding-bottom: 0.5rem;
		width: 100%;
		margin: auto;
	}
	
	.portrait {
		margin-top: 1em !important;
		margin-bottom: 1em !important;
		box-shadow: 0em 0.11em 0.811em gray;
	}
	
	.profile_scrollbox {
		position: static !important;
	}
	
	.expandable_wrapper_div {
		height: auto !important;
	}
	.expandable_mask_transparent {
		background-color: transparent !important;
		background-image: none !important;
	}
	.expandable_mask_solid {
		display: none !important;
	}

	.tocframe {
		display: none !important;
	}

}
