/* Best practices from CSSID book: */
:root {
    box-sizing: border-box;
}

*, 
::before, 
::after {
    box-sizing: inherit;
}

.clearfix::before, .clearfix::after {
	/* Suppress margin-top/bottom merging  */
	display: table;
	content: " ";
}
.clearfix::after {
	clear: both;
}

* { 
	margin-top: 0px;
}

/* CSS variables  */

:root {
	--sidecol-fontsize: 0.85em;
	--sidecol-width: 16em;
	--maincol-bgcolor: #f0f0f0;
	--date-period-ems: 10em;   /* enough width for "2002.07 ~ 2018.06" */ 
	--year-period-ems: 6.12em;  /* enough width for "2002 ~ 2018 */ 
	--langsel-height: 2.51em;
	--toctitle-height: 2.05em;
}

/*****************************************************************/

body { 
	/* outer frame of double container pattern. */
	margin: 0px; 
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #6767b4;
}
a:hover {
	color: #252590;
}

pre {
	border: 1px solid #bde;
	border-radius: 0.34em;
	padding: 0.5em;
	line-height: 1.37;
	white-space: pre-wrap;
}

tt {
	color: #252590;
}

.globalframe {
	/* inner frame of double container pattern. */
	margin: auto;
	max-width: 1280px;

	border: 1px dashed cyan;
	background-color: #fffff0;
	border-radius: 1em;
}

.imgbox-float-right {
	display: block;
	margin: 0.41em;
	text-align: center;
}

.imgbox-float-right__foottext {
	font-size: 0.8em;
	text-align: center;
	color: #666;
	background-image: linear-gradient(to bottom, #fff, #ccc);
}

.mainlang-cn [class^="lang-cn"] , 
.mainlang-en [class^="lang-en"] {
	color: black; 
} 
.mainlang-cn [class^="lang-en"] , 
.mainlang-en [class^="lang-cn"] {
	color: #999; /* For non-main language, I use a pale color for text. */
} 

.mainlang-cn .langsel #btn-cn::before ,
.mainlang-en .langsel #btn-en::before  {
	content: "*"; 
	display: inline;
} 

.titlebar__head {
	text-align: center;
	font-size: 2em;
    letter-spacing: 0.5em;
    font-family: 楷体;
}

.titlebar__myname .chenjun {
    font-family: 楷体;
	font-size: 3em;
}

.titlebar__myname .career {
	font-size: 0.6em;
}

.maincol {
	margin: 0.8rem 1rem;
	border: 1px solid #888;

	background-color: var(--maincol-bgcolor);
	border-radius: 1em;
}


/* Mobile first side-column styles */
.sidecol {
	margin: 0.8rem 1rem;
/*	background-color: #57b;
*/	
	border: 1px dashed;
	border-radius: 0.5em;
	font-size: var(--sidecol-fontsize);
}

.sidecol button {
	padding: 0.5em;
	color: #ccc;
	border: 1px solid #57b;
	background-image: linear-gradient(to bottom, #222, #888);
	cursor: pointer;
}

.sidecol .button_on {
	color: white;
	border: 1px solid #57b;
	background-image: linear-gradient(to bottom, #57b, #012);
	box-shadow: 0.1em 0.1em 0.5em #124;
}
/*.button:active {
    box-shadow: inset 0 0 0.5em #124, inset 0 0.5em 1em rgba(0,0,0,0.4);
}
*/

.langsel {
	display: flex;
	height: var(--langsel-height);
}
.langbtn {
	flex: 1;
	text-align: center;
}
.langbtn__left {
	border: 1px solid;
	border-radius: 0.5em 0 0 0.5em
}
.langbtn__right {
	border: 1px solid;
	border-radius: 0 0.5em 0.5em 0 
}

.portrait {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.811em;
	margin-bottom: 0.811em;
	max-width: 120px;
	width: 120px;
	height: 120px;
	border-radius: calc(120px/2);
	background: linear-gradient(15deg, green, cyan);
	box-shadow: 0em 0.211em 0.811em gray;
}

.profile_list {
	display: table;
}

.profile__item {
	display: table-row;
}

.item__name {
	display: table-cell;
	font-weight: bold;
}
.item__value {
	display: table-cell;
}

.tocframe {
	display: none;
}


.h1title {
	display: inline-block;
/*	padding-bottom: 0.2em;
	margin-bottom: 0.3em;
*/
}

.h1title .stripe {
	width: 100%;
	height: 0.5rem;
	background-image: repeating-linear-gradient(45deg, #57b 0px, #249 20px, #57b 40px);
}

.h1title [class^="lang-"] {
	background-color: var(--maincol-bgcolor);
/*	border-bottom: 5px solid;
*/
}

.h2title {
	display: inline-block;
}
.h2title .stripe {
	width: 100%;
	height: 0.4rem;
	background-image: repeating-linear-gradient(45deg, #cb5 0px, #a83 20px, #cb5 40px);
}

.ques{
	font-weight: bold;
}

.ans ul {
	padding-left: 1.12em;
}

quote {
	display: block;
	padding-left: 1.78em;
	padding-top: 0.28em;
	padding-bottom: 0.28em;
}

[class^="lang-"] {
	overflow: hidden;
		/* Without this, we'll see ugly text overflow when doing cn/en transitioning. */ 
	transition: height 1500ms, color 1500ms;
}

.maincol > * {
	margin-left: 0.4rem;
	margin-right: 0.4rem;
}

.maincol > .h1title {
	margin: 0.6rem;
}

.careerbanner {
	display: block;
}

.careerb__orgname {
	text-align: left;
}
.careerb__jobtitle {
}
.careerb__date {
}

.companyinfo,
.h1intro {
	border: 1px solid grey;
	border-radius: 0.5em;
	padding: 1em;
}

.careertable {
	/* As container of careertable__rows. */
}

.careertable__row {
	display: block;
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
}

/* mobile layout scattered table heading, shared properties: */
.careertable__date::before ,
.careertable__year::before ,
.careertable__achievement::before ,
.careertable__skill::before {
	display: block;
	font-weight: bold;
}
.careertable__date::before ,
.careertable__year::before {
	margin-top: 1.89em;
}

.table_s { /* _s implies: with a smaller font */
	margin-left: 1em;
	display: table;
	font-size: 0.9em;
	border-spacing: 0.244em;

}
.table_s .table__row {
	display: table-row;
}
.table_s .table__cell {
	display: block;  /* would be table-cell for desktop */
	padding: 0.5em;
}
.table_s .itemname {
	background-color: #80c0dd;
	min-width: 6.13em;
}
.table_s .itemvalue {
	background-color: #d0d7e4;
}

.table_s .itembrief {
	background-color: #dabbe8;
	min-width: 7.13em;
}
.table_s .itemdetail {
	background-color: #dad0e8;
}

.itembrief {
	display: block;
	padding: 0.372em 0em;
	color: brown;  /* test, no use */
}
.itemdetail {
/*	margin-left: 2em;
*/
	padding: 0.372em 0em;
}


.mainlang-cn .careertable__date::before {
	content: "时间线";
}
.mainlang-en .careertable__date::before {
	content: "Timeline";
}


.mainlang-cn .careertable__achievement::before {
	content: "成就";
}
.mainlang-en .careertable__achievement::before {
	content: "Achievement";
}

.mainlang-cn .careertable__skill::before {
	content: "技能与知识";
}
.mainlang-en .careertable__skill::before {
	content: "Skill and Knowledge"
}

.careertable__skill {
	font-size: 0.81rem;
}

.careertable__skill ul {
	padding-left: 0px;
}
.careertable__skill li {
	list-style-type: none;
	
	display: inline-block;
	padding: 0.2em;
	line-height: 1.2;
	border: 1px grey solid;
	border-radius: 0.5em;
	margin: 0.2em;
}

.careertable__row.careertable__headrow {
	display: none;
}

.duallang {
}
.duallang + .duallang { /* margin-top from second .duallang */
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

.duallang > *:first-child {
/*	xxx-margin-bottom: 0.2em;
*/
}
.duallang.bounding {
	border: 1px solid transparent;
	/* Use a *transparent* border as placeholder, otherwise, when 1px border is added by :hover,
	the layout inside will go for a subtle re-flow, not visually friendly. */
}
.duallang.bounding:hover {
	border: 1px dashed gray;
}
.duallang.bounding:hover .lang-cn2 {
	background-color: rgb(240, 240, 224);
}
.duallang.bounding:hover .lang-en2 {
	background-color: rgb(234, 248, 255);
}

.imagerow {
	display: flex;
	align-items: stretch; /* so to make left-block & right-block same height */
	width: 100%;
	text-align: center;
}
.imagerow > * {
	flex: 1;
	padding: 0.1em;
	max-width: 100%;
/*	height: 100%; 
	[2019-06-21] Without this, Chrome 74 will use image's orignal height, but Firefox 67 does not have such problem. 
	// That was the old comment when <img> directly acts as flex cell, and the behavior was odd.
*/
}

/*.imagerow--textandimage {
	align-items: stretch; 
}
*/
.imagerow--textandimage > *{
	border: 1px solid grey;
	margin: 1px;
}
.imagerow > * img {
	object-fit: contain;
	max-width: 100%;
}
/************************ Desktop Web Layout Override  ************************/



@media (min-width: 799.1px) 
{
	/* Desktop layout side-column styles. Whole side-column is fixed at viewport right-side. */
	
	.globalframe {
		position: relative; /* as base frame */
	}

	.imgbox-float-right {
		float: right;
		margin: 0.41em;
	}
	
	.maincol {
		margin-right: var(--sidecol-width);
	}

	.sidecol {
		position: absolute;
		top: 0em;
		bottom: 0em;
		right: 0em;
		
		width: var(--sidecol-width);
	}

/*	.portrait {
		float: none;
		margin: auto;
		
	}
*/

	.tocframe {
		display: block;
		position: absolute;
		z-index: 2;
		top: calc(var(--langsel-height) + 350px); /* todo */
		left: 0em;
		right: 0em;
		bottom: 0em;
		border-radius: 0.5em;
		
		color: white;
		background-color: #21385d;
	}
	
	.toctitle {
		position: relative;
		left: 0em;
		right: 0em;
		display: flex;
		justify-content: center; /* horizontal center */
		align-items: center;     /* vertical center */
		height: var(--toctitle-height);
		cursor: pointer;
	}
	
	.toctitle_arrow {
		position: absolute;
		top: 2px;
		bottom: 2px;
		right: 2px;
		width: var(--toctitle-height);
		background-repeat: no-repeat;
	}
	
	.svg_arrowup {
		background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-circle-up" class="svg-inline--fa fa-chevron-circle-up fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M8 256C8 119 119 8 256 8s248 111 248 248-111 248-248 248S8 393 8 256zm231-113.9L103.5 277.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L256 226.9l101.6 101.6c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L273 142.1c-9.4-9.4-24.6-9.4-34 0z"></path></svg>');
	}
	.svg_arrowdown {
		background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-circle-down" class="svg-inline--fa fa-chevron-circle-down fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path stroke="blue" fill="white" d="M504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zM273 369.9l135.5-135.5c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L256 285.1 154.4 183.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L239 369.9c9.4 9.4 24.6 9.4 34 0z"></path></svg>');
	}

	body .tocframe [class^="lang-"] {
		color: white;
		text-shadow: cyan 1px 1px 3px
	}

	.careertable {
		/* As container of careertable__rows. */
		padding-left: 1em; /* to make an indent effect*/
	}

	.careerbanner {
	/*	width: 100%;
		// would cause right-side stick out.
	*/	
		display: flex;
	}


	.careerb__orgname {
		margin-right: auto;
		text-align: left;
		padding-right: 0.46em;
	}
	.careerb__jobtitle {
		margin-left: auto;
		text-align: right;
		padding-left: 0.46em;
	}
	.careerb__date {
		flex: var(--date-period-ems) 0;
		text-align: right;
		padding-left: 0.46em;
	}

	.careertable__row {
		display: flex;
		margin-top: 0.8rem;
		margin-bottom: 0.8rem;
	}

	.careertable__date::before ,
	.careertable__year::before ,
	.careertable__achievement::before ,
	.careertable__skill::before {
		display: none;
	}

	.careertable__date {
		font-size: 0.7rem;
		flex: 118px 0;
	}
	.careertable__year {
		font-size: 0.7rem;
		flex: 97px 0;
	}
	.careertable__achievement {
		font-size: 0.9rem;
		flex: 1;
	}
	.careertable__skill {
		font-size: 0.7rem;
		flex: 20% 0 1;
	}

	.careertable__row.careertable__headrow {
		display: flex;
	}

	.careertable__row.careertable__headrow > * {
		font-weight: bold;
		font-size: 1rem
	}

	.duallang {
/*		padding: 0.31em;
*/	}
	.duallang > *:first-child {
/*		margin-bottom: 3.2em;
*/	}
	.duallang [class^=lang-] {
	/* NOTE: duallang padding/border/margin will cause cn/en transitionend FLICKER! Don't use it! */
/*		padding: 3.32em;
*/	}
	.duallang.bounding {
		border: 1px solid transparent;
		/* Use a *transparent* border as placeholder, otherwise, when 1px border is added by :hover,
		the layout inside will go for a subtle re-flow, not visually friendly. 
		[2019-06-17 23:20] This border width does not cause transitionend flicker.
		*/
	}
	.duallang.bounding:hover {
		border: 1px dashed gray;
	}
	.duallang.bounding:hover .lang-cn2 {
		background-color: rgb(240, 240, 224);
	}
	.duallang.bounding:hover .lang-en2 {
		background-color: rgb(234, 248, 255);
	}

	.ans { 
		margin-left: 2.12em;
	}

	.ans ul {
		padding-left: 1.42em;
	}

	.table_s .table__cell {
		display: table-cell;
		padding: 0.5em;
	}

}

